# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.backup

# Crash log files
crash.log

# Ignore override files as they are usually used for local customizations
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include example files for variables, but ignore the sensitive values themselves
!*.tfvars.example

# Terraform configuration files
.terraformrc
terraform.rc